/******* COMMON *******/
html {
    font-size: 100%;
    scroll-padding-top: 105px;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

:root {
    --ms_color-light-black: #1f1f1f;
    --ms_color-gray: #727272;
    --ms_color-light-gray: #bebcbb;
    --ms_color-lighter-gray: #d9dadc;
    --ms_color-dark-blue: #161c3b;
    --ms_color-red: #cd3d0f;
}

/* background color  */

.ms_bg-light-black {
    background-color: var(--ms_color-light-black);
}

.ms_bg-light-gray {
    background-color: var(--ms_color-light-gray);
}

.ms_bg-lighter-gray {
    background-color: var(--ms_color-lighter-gray);
}

.ms_bg-dark-blue {
    background-color: var(--ms_color-dark-blue);
}

/* typography */
h2 {
    font-size: 2.5rem;
}

/* button */
.ms_btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 20px;
}

.ms_btn:hover {
    box-shadow: inset 0 0 0 2px white;
}

/******* HEADER  *******/
header .ms_logo img {
    width: 100px;
    padding: 0.5rem;
}

.ms_header-bottom {
    width: 100%;
    height: 80px;
    line-height: 80px;
}

.ms_icon i {
    border: 1px solid gray;
    padding: 0.4rem 0.8rem;
    border-radius: 5px;
    cursor: pointer;
}

.ms_header-bottom ul {
    align-items: center;
    color: black;
    font-weight: 600;
    margin: 0;
    padding-left: 0.5rem;
}

.ms_header-bottom ul li {
    display: inline-block;
    margin-left: 0.3rem;
}

.ms_header-bottom ul li:hover .ms_chevron {
    display: none;
}

.ms_header-bottom ul li:hover .ms_chevron-hv {
    display: inline-block;
}

.ms_header-bottom ul li:hover .ms_drop-menu {
    display: block;
}

.ms_chevron {
    width: 10px;
    margin-right: 0.5rem;
    cursor: pointer;
}

.ms_chevron-hv {
    display: none;
    width: 10px;
    margin-right: 0.5rem;
    cursor: pointer;
    transform: rotate(180deg);
}

.ms_lens {
    width: 30px;
}

.ms_drop-menu {
    display: none;
    position: absolute;
    left: 0;
    right:0;
    padding: 1rem 0 0;
    background-color: white;
    line-height: normal;
}

ul.ms_drop-menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid gray;
    font-size: 1rem;
}

header .ms_card {
    font-size: 0.9rem;
    padding: 0 1rem;
}

.ms_drop-menu .ms_card img {
    width: 70px;
}

.ms_drop-menu .ms_card:hover {
    box-shadow: 0px 0px 5px #000000;
}

header .ms_btn {
    line-height: normal;
}
/******* MAIN  *******/

.ms_section {
    padding: 2rem 0;
}

/* jumbotron */
#jumbotron {
    min-height: 650px;
    margin-top: 110px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}

#jumbotron .ms_btn {
    background-color: var(--ms_color-red);
    border: 2px solid var(--ms_color-red);
    color: var(--ms_color-white);
    text-decoration: none;
    font-weight: 600;
}

/* game section  */
#game .col img {
    border-radius: 10px;
    padding: 0.1rem;
}

#game .col a:focus img {
    outline: 2px solid blue;
}

#game .col:hover {
    transform:translateY(-20px)
}

/* play 5 section */
#play5 .active {
    border-bottom: 2px solid blue;
}

#play5 .ms_opacity img {
    opacity: 0.5;
}

#play5 .ms_opacity img:hover {
    opacity: 1;
}

/* buy now  */
#buy-now {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}

#buy-now .ms_btn {
    background-color: var(--ms_color-red);
    border: 2px solid var(--ms_color-red);
    color: var(--ms_color-white);
    text-decoration: none;
    font-weight: 600;
}

/* new release  */
#new-release {
    color: var(--ms_color-white);
}

#new-release .ms_card-img img {
    border-radius: 15px;
}

/* ps plus  */
#play-plus .ms_btn {
    background-color: var(--ms_color-lighter-gray);
    border: 2px solid var(--ms_color-lighter-gray);
}

/* ps now  */
#play-now .ms_btn {
    border: 2px solid white;
}

#play-now .ms_btn:hover {
    box-shadow: inset 0 0 0 2px black;
}

/******* FOOTER  *******/
footer ul {
    list-style-type: none;
}

footer li {
    line-height: 2rem;
}

.ms_global img {
    width: 20px;
}

footer .ms_card img {
    width: 150px;
}
