/******* COMMON *******/
html {
    font-size: 100%;
}

img {
    width: 100%;
}

:root {
    --ms_color-black: #000000;
    --ms_color-light-black: #1f1f1f;
    --ms_color-white: #ffffff;
    --ms_color-gray: #727272;
    --ms_color-light-gray: #bebcbb;
    --ms_color-dark-blue: #161c3b;
    --ms_color-blue: #00439c;
}

/* background color  */
.ms_bg-black {
    background-color: var(--ms_color-black);
}

.ms_bg-light-black {
    background-color: var(--ms_color-light-black);
}

.ms_bg-light-gray {
    background-color: var(--ms_color-light-gray);
}

.ms_bg-dark-blue {
    background-color: var(--ms_color-dark-blue);
}

.ms_bg-blue {
    background-color: var(--ms_color-blue);
}

/* color */
.ms_color-white {
    color: var(--ms_color-white);
}

.ms_color-gray {
    color: var(--ms_color-gray);
}

/* margin e padding */

.ms_mt-6 {
    margin-top: 6rem;
}

/* typography */
h2 {
    font-size: 2.5rem;
}

/* button */
.ms_btn {
    border-radius: 20px;
}

/******* HEADER  *******/
header .nav-link {
    color: var(--ms_color-black);
    font-weight: 600;
}

header .dropdown-toggle::after {
    margin-left: 0.5rem;
    color: var(--ms_color-light-gray);
}

header .ms_btn {
    color: white;
}

/******* MAIN  *******/
.ms_section {
    padding: 2rem 0;
}

.box {
    min-width: 100px;
    height: 200px;
    background-color: red;
}
/* jumbotron */
#jumbotron {
    min-height: 600px;
    margin-top: 80px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}

#jumbotron .card {
    background-color: none;
}

/* buy now  */
#buy-now {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}

/* new release  */
#new-release {
    color: var(--ms_color-white);
}